<% layout('/layouts/base') -%>

<!-- CSS styles -->
<% block('head').append(`<link href="/css/form.css" rel="stylesheet" type="text/css" media="all" />`) %>

<!--banner-->
<div class="banner-top" style="display: none;">
	<div class="container">
		<h1>Products</h1>
		<em></em>
		<h2><a href="/">Home</a><label>/</label><%= data.category.title %></a></h2>
	</div>
</div>
<!--//banner-->

<!-- Content -->
<div class="product" ng-app="ecommerceApp" ng-controller="GoodsCtrl as _">
   <div class="container">
      <% if (data.goods.length < 1) { %>
      <p>There are no some goods in this category</p>
      <% } else { %>
			<!-- Include angular application -->
			<% block('head').append(`
				<script src="/js/angular/angular.min.js"></script>
				<script src="/js/angular/app.js"></script>
			`) %>

			<!-- Data about goods -->
			<input type="hidden" id="_goodsData" value='<%- JSON.stringify(data) %>'>

	      <div class="col-md-9">
	         <div class="mid-popular">

					<!-- Goods list -->
	            <div ng-cloak ng-repeat="item in _.data.goods" class="col-md-4 item-grid1 simpleCart_shelfItem">
	               <div class=" mid-pop">
	                  <div class="pro-img">
	                     <img src="/images/pc.jpg" class="img-responsive" alt="">
	                     <div class="zoom-icon ">
	                        <a class="picture" href="images/pc.jpg" rel="title"><i class="glyphicon glyphicon-search icon "></i></a>
	                        <a href="single.html"><i class="glyphicon glyphicon-menu-right icon"></i></a>
	                     </div>
	                  </div>
	                  <div class="mid-1">
	                     <div class="women">
	                        <div class="women-top">
	                           <span>{{ _.data.subcategories[item._subcategory._id].title }}</span>
	                           <h6><a href="single.html">{{item.title}}</a></h6>
	                        </div>
	                        <div class="img item_add">
	                           <a href="#"><img src="/images/ca.png" alt=""></a>
	                        </div>
	                        <div class="clearfix"></div>
	                     </div>
	                     <div class="mid-2">
	                        <p><label>$100.00</label><em class="item_price">{{item.price | currency}}</em></p>
	                        <div class="block">
	                           <div class="starbox small ghosting">
	                              <div class="positioner">
	                                 <div class="stars">
	                                    <div class="ghost" style="display: none; width: 42.5px;"></div>
	                                    <div class="colorbar" style="width: 42.5px;"></div>
	                                    <div class="star_holder">
	                                       <div class="star star-0"></div>
	                                       <div class="star star-1"></div>
	                                       <div class="star star-2"></div>
	                                       <div class="star star-3"></div>
	                                       <div class="star star-4"></div>
	                                    </div>
	                                 </div>
	                              </div>
	                           </div>
	                        </div>
	                        <div class="clearfix"></div>
	                     </div>
	                  </div>
	               </div>
	            </div>

					<!-- //Goods list -->



	            <div class="clearfix"></div>
	         </div>
	      </div>
	      <div class="col-md-3 product-bottom">
	         <!--categories-->
	         <div class=" rsidebar span_1_of_left">
	            <h4 class="cate">Categories</h4>
	            <ul class="menu-drop">
	               <li class="item1">
	                  <a href="#">Men </a>
	                  <ul class="cute" style="display: none;">
	                     <li class="subitem1"><a href="product.html">Cute Kittens </a></li>
	                     <li class="subitem2"><a href="product.html">Strange Stuff </a></li>
	                     <li class="subitem3"><a href="product.html">Automatic Fails </a></li>
	                  </ul>
	               </li>
	               <li class="item2">
	                  <a href="#">Women </a>
	                  <ul class="cute" style="display: none;">
	                     <li class="subitem1"><a href="product.html">Cute Kittens </a></li>
	                     <li class="subitem2"><a href="product.html">Strange Stuff </a></li>
	                     <li class="subitem3"><a href="product.html">Automatic Fails </a></li>
	                  </ul>
	               </li>
	            </ul>
	         </div>
	         <!--initiate accordion-->
	         <script type="text/javascript">
	            $(function() {
	                var menu_ul = $('.menu-drop > li > ul'),
	                       menu_a  = $('.menu-drop > li > a');
	                menu_ul.hide();
	                menu_a.click(function(e) {
	                    e.preventDefault();
	                    if(!$(this).hasClass('active')) {
	                        menu_a.removeClass('active');
	                        menu_ul.filter(':visible').slideUp('normal');
	                        $(this).addClass('active').next().stop(true,true).slideDown('normal');
	                    } else {
	                        $(this).removeClass('active');
	                        $(this).next().stop(true,true).slideUp('normal');
	                    }
	                });

	            });
	         </script>

				<section class="sky-form">
					<h4 class="cate">Sort</h4>
	            <div style="padding: 20px 0 21px 0;">
						<select class="" name="">
							<option value="alphabetically-asc">Alphabetically, A-Z</option>
							<option value="alphabetically-desc">Alphabetically, Z-A</option>
							<option value="price-increase">Price, low to high</option>
							<option value="price-decrease">Price, high to low</option>
							<option value="date-decrease">Date, new to old</option>
							<option value="date-increase">Date, old to new</option>
						</select>
	            </div>
				</section>

	         <!--//menu-->
	         <section class="sky-form">
	            <h4 class="cate">Discounts</h4>
	            <div class="row row1 scroll-pane">
	               <div class="col col-4">
	                  <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Upto - 10% (20)</label>
	               </div>
	               <div class="col col-4">
	                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>40% - 50% (5)</label>
	                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>30% - 20% (7)</label>
	                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>20% - 10% (2)</label>
	                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Other(50)</label>
	               </div>
	            </div>
	         </section>

				<!---->
	         <section class="sky-form">
	            <h4 class="cate">Type</h4>
	            <div class="row row1 scroll-pane">
	               <div class="col col-4">
	                  <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Sofa Cum Beds (30)</label>
	               </div>
	               <div class="col col-4">
	                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Bags  (30)</label>
	                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Caps &amp; Hats (30)</label>
	                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Jackets &amp; Coats   (30)</label>
	                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Jeans  (30)</label>
	                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Shirts   (30)</label>
	                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Sunglasses  (30)</label>
	                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Swimwear  (30)</label>
	               </div>
	            </div>
	         </section>
	         <section class="sky-form">
	            <h4 class="cate">Brand</h4>
	            <div class="row row1 scroll-pane">
	               <div class="col col-4">
	                  <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Roadstar</label>
	               </div>
	               <div class="col col-4">
	                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Levis</label>
	                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Persol</label>
	                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Nike</label>
	                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Edwin</label>
	                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>New Balance</label>
	                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Paul Smith</label>
	                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Ray-Ban</label>
	               </div>
	            </div>
	         </section>
	      </div>
      <% } %>
   </div>
</div>
<!-- Content -->


<br><br>
