<% layout('/layouts/administrator/main') -%>

<h3>Adding category</h3>

<style>
   .err {
      color: red;
   }
</style>

<br>
<form class="form-horizontal" method="post" action="">
  <fieldset>
    <div class="form-group">
      <label for="inputTitle" class="col-lg-2 control-label">Title</label>
      <div class="col-lg-10">
        <input name="title" value="<% if (data.title) { %><%= data.title %><% } %>" type="text" class="form-control" id="inputTitle" placeholder="Title">
        <% for (var a = 0; errors.length > a; a++ ) { %>
           <% if (errors[a].title) { %> <span class="err"><%= errors[a].title %></span> <% } %>
        <% } %>
      </div>
    </div>
    <div class="form-group">
      <label for="inputUrl" class="col-lg-2 control-label">Url</label>
      <div class="col-lg-10">
        <input name="url" value="<% if (data.url) { %><%= data.url %><% } %>" type="text" class="form-control" id="inputUrl" placeholder="Url">
        <% for (var a = 0; errors.length > a; a++ ) { %>
           <% if (errors[a].url) { %> <span class="err"><%= errors[a].url %></span> <% } %>
        <% } %>
        <div class="checkbox">
          <label>
            <input name="enabled" type="checkbox"> Enabled
          </label>
        </div>
      </div>
    </div>


    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </fieldset>
</form>
