<form action="" method="post">
  <input name="username" id="username" type="text" placeholder="Username" />
  <br/>
  <input name="password" id="password" type="password" placeholder="Password"/>
  <br/><br/>
  <input type="submit" />
</form>
