<% layout('/layouts/administrator/main') -%>

<form class="form-horizontal" method="post" action="/administrator/profile/save">

  <fieldset>
    <legend>Profile</legend>

    <div class="form-group">
      <label for="inputCurrentPassword" class="col-lg-2 control-label">Current Password</label>
      <div class="col-lg-10">
        <input name="currentPassword" type="password" class="form-control" id="inputCurrentPassword" placeholder="Type current password">
      </div>
    </div>

    <hr>

    <div class="form-group">
      <label for="inputNewPassword" class="col-lg-2 control-label">New Password</label>
      <div class="col-lg-10">
        <input name="newPassword" type="password" class="form-control" id="inputNewPassword" placeholder="Password">
      </div>
    </div>

    <div class="form-group">
      <label for="inputConfirm" class="col-lg-2 control-label">Confirm</label>
      <div class="col-lg-10">
        <input name="confirmPassword" type="password" class="form-control" id="inputConfirm" placeholder="Confirm">
      </div>
    </div>

    <br>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </fieldset>

</form>
